<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.basis.mapper.BusinessLineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sw.basis.entity.BusinessLineEntity">
        <id column="id" property="id" />
        <result column="businessline_code" property="businesslineCode" />
        <result column="businessline_name" property="businesslineName" />
        <result column="businessline_businesstype" property="businesslineBusinesstype" />
        <result column="asorg_orgid" property="asorgOrgid" />
        <result column="asorg_orgname" property="asorgOrgname" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
