<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.basis.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sw.basis.entity.ProjectEntity">
        <result column="id" property="id" />
        <result column="project_code" property="projectCode" />
        <result column="project_name" property="projectName" />
        <result column="dept_code" property="deptCode" />
        <result column="business_type" property="businessType" />
        <result column="client" property="client" />
        <result column="auditee" property="auditee" />
        <result column="approval_date" property="approvalDate" />
        <result column="risk_category" property="riskCategory" />
        <result column="pmproject_businesstype" property="pmprojectBusinesstype" />
        <result column="pmproject_prjtmpid" property="pmprojectPrjtmpid" />
        <result column="pmproject_customer" property="pmprojectCustomer" />
        <result column="pmproject_examinate" property="pmprojectExaminate" />
        <result column="pmbusutake_timecost" property="pmbusutakeTimecost" />
        <result column="pmproject_status" property="pmprojectStatus" />
        <result column="pmproject_manager" property="pmprojectManager" />
        <result column="pmproject_manager2" property="pmprojectManager2" />
        <result column="pmproject_manager2status" property="pmprojectManager2status" />
        <result column="pmproject_cedperson" property="pmprojectCedperson" />
        <result column="pmproject_partner" property="pmprojectPartner" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

</mapper>
