<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sw.basis.mapper.SecondmentRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sw.basis.entity.SecondmentRecordEntity">
        <result column="id" property="id" />
        <result column="secondment_code" property="secondmentCode" />
        <result column="dept_code" property="deptCode" />
        <result column="project_code" property="projectCode" />
        <result column="address" property="address" />
        <result column="coordinator" property="coordinator" />
        <result column="settlement" property="settlement" />
        <result column="others" property="others" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <resultMap id="QuerySecondmentRecordEntityMap" type="com.sw.basis.entity.QuerySecondmentRecordEntity">
        <result column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="levelName" property="levelName" />
        <result column="levelCode" property="levelCode" />
        <result column="deptName" property="deptName" />
        <result column="deptCode" property="deptCode" />
        <result column="projectName" property="projectName" />
        <result column="projectCode" property="projectCode" />
        <result column="coordinator" property="coordinator" />
        <result column="eName" property="eName" />
        <result column="eCode" property="eCode" />
        <result column="eDeptName" property="eDeptName" />
        <result column="eDeptCode" property="eDeptCode" />
        <result column="eLevelName" property="eLevelName" />
        <result column="eLevelCode" property="eLevelCode" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="settlement" property="settlement" />
        <result column="hoursPerDay" property="hoursPerDay" />
    </resultMap>

    <sql id="QuerySecondmentRecordEntitySql">
        id,
        createTime,
        `name`,
        `code`,
        levelName,
        levelCode,
        deptName,
        deptCode,
        projectName,
        projectCode,
        coordinator,
        eName,
        eCode,
        eDeptName,
        eDeptCode,
        eLevelName,
        eLevelCode,
        startTime,
        endTime,
        settlement,
        hoursPerDay
    </sql>

    <select id="selectSecondmentRecord" resultMap="QuerySecondmentRecordEntityMap">
        select <include refid="QuerySecondmentRecordEntitySql"/> from query_secondment_record
    </select>


    <select id="loanRecordConditionQuery" resultType="java.util.Map" parameterType="com.sw.basis.dto.request.ConditionsQueryDTO">
        SELECT
            pro.project_name projectName,
            rec.address address,
            de.dept_code sendDeptCode,
            de.dept_name sendDeptName,
            de.plage_name plageName,
            de.plage_code plageCode,
            rec.review_status reviewStatus,
            de.dept_code deptCode,
            de.dept_name deptName,
            rec.create_by createBy,
            rec.creator_code creatorCode
        FROM
            secondment_record rec LEFT JOIN project pro ON rec.project_code = pro.project_code
                                  LEFT JOIN sys_dept de ON rec.dept_code = de.dept_code
                                  LEFT JOIN secondment_peoples peo ON rec.secondment_code = peo.secondment_id
        <where>
            <if test="conditionsQueryDTO.deptName != '' and conditionsQueryDTO.deptName != ' ' and conditionsQueryDTO.deptName != null ">
                and de.dept_name LIKE  "%"  #{conditionsQueryDTO.deptName} "%"
            </if>
            <if test="conditionsQueryDTO.createBy != '' and conditionsQueryDTO.createBy != ' ' and conditionsQueryDTO.createBy != null ">
                and rec.create_by LIKE  "%" #{conditionsQueryDTO.createBy} "%"
            </if>
            <if test="conditionsQueryDTO.projectName != '' and conditionsQueryDTO.projectName != ' ' and conditionsQueryDTO.projectName != null ">
                and pro.project_name LIKE "%"  #{conditionsQueryDTO.projectName} "%"
            </if>
            <if test="conditionsQueryDTO.plageName != '' and conditionsQueryDTO.plageName != ' ' and conditionsQueryDTO.plageName != null ">
                and de.plage_name LIKE "%" #{conditionsQueryDTO.plageName} "%"
            </if>
            <if test="conditionsQueryDTO.sendDeptName != '' and conditionsQueryDTO.sendDeptName != ' ' and conditionsQueryDTO.sendDeptName != null ">
                and de.dept_name LIKE "%"  #{conditionsQueryDTO.sendDeptName} "%"
            </if>
            <if test="conditionsQueryDTO.sendPlageName != '' and conditionsQueryDTO.sendPlageName != ' ' and conditionsQueryDTO.sendPlageName != null ">
                and de.plage_name LIKE "%" #{conditionsQueryDTO.sendPlageName} "%"
            </if>
            <if test="conditionsQueryDTO.updateTime != '' and conditionsQueryDTO.updateTime != ' ' and conditionsQueryDTO.updateTime != null ">
                and rec.dept_name = #{conditionsQueryDTO.updateTime}
            </if>
            and rec.del_flag = '0'
        </where>
    </select>



</mapper>
